@charset "UTF-8";

.presentation {
  background-color:  var(--grey-background);
}
.presentation-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  box-shadow: var(--white-shadow);
  padding-top: 10%;
  padding-bottom: 10%;
}
.face {
  border-radius: 50%;
  height: 90px;
  width: 90px;
}
.name-txt {
  margin-top: 17px;
  text-align: center;
  overflow: hidden;
}
.job-txt {
  text-align: center;
  overflow: hidden;
  color: var(--blackLight-color);
}
.presentation-content::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
.presentation-content {
  height: calc(100vh - 310px);
  width: auto;
  display: block;
  overflow: auto;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
}
.presentation-desc {
  margin-top: 10%;
}
.presentation-lang {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.presentation-footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 40px;
  gap: 5px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
