@charset "UTF-8";


.navbar-drawer-mobile {
box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
display: flex;

}
.navbar {
    background-color: var(--grey-background);
    height: 100%;
    margin-top: 0px;
}
.me-auto-mobile {
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 500;
 
    justify-content: flex-start;
    align-items: flex-start;
}
.container-mobile {


}
.navbar-expand .navbar-nav {
    display: flex;
    flex-direction: column;
}
.nav-link {
    display: flex;
    flex-direction: column;
    color: var(--blackLight-color)
}
