@charset "UTF-8";

.navbar-header-mobile {
box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
background-color: red;
height: 60px;
z-index: 5;
position: fixed;
right: 0;
left: 0;
top: 0
}
@media only screen and (min-width: 1000px) {
    .navbar-header-mobile {
     display: none;
    }
  }