@charset "UTF-8";
.circular-bar-content {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  margin-left: 5%;
  margin-right: 5%;
}
.circular-bar-name {
  text-align: center;
  font-size: 14px;
  padding-top: 3%;
  color : var(--black-color);
}
