@charset "UTF-8";

.container-bar:not(:first-child){
  padding-top: 8%;
}
.description-bar{
 display: flex;
 flex-direction: "row";
 justify-content: space-between;
 padding-bottom: 2.5%;
}
.progress-name-bar{
font-size: 14px;
}
.name-bar{
font-size: 14px;
color : var(--black-color)
}
