@charset "UTF-8";

body {
  --primary-color: #fff;
  --secondary-color: #f46258;
  --black-color: #1e1e28;
  --blackLight-color: #5c5c6f;
  --grey500-color: #8c8c8e;
  --grey300-color: #c0c0ca;
  --grey-background: #f4f4f6;
  --white-background: linear-gradient(
    159deg,
    #fff 0,
    rgba(255, 255, 255, 0.95) 100%
  );
  --white-shadow: 0 1px 4px 0 rgb(15 15 20 / 10%);
  color: var(--blackLight-color);
}
h5 {
  color: var(--black-color);
  font-size: 90%;
  font-weight: 600;
}
h6 {
  color: var(--black-color);
  font-size: 90%;
  font-weight: 400;
}
