@charset "UTF-8";

body {
  --primary-color: #fff;
  --secondary-color: #f46258;
  --black-color: #1e1e28;
  --blackLight-color: #5c5c6f;
  --grey500-color: #8c8c8e;
  --grey300-color: #c0c0ca;
  --grey-background: #f4f4f6;
  --grey-container: #e0e0e6;
  --size-mobile: 750px;
  color: var(--blackLight-color);
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
 background-color: var(--grey-container);
 margin-top: 15px;
 padding: 100px;
}
h5 {
  color: var(--black-color);
  font-size: 90%;
  font-weight: 600;
}
h6 {
  color: var(--black-color);
  font-size: 90%;
  font-weight: 400;
}
